// Typography
$font-family-main: 'Nanum Gothic', Helvetica, Arial, sans-serif;
$font-family-headings: 'Nanum Gothic', Helvetica, Arial, sans-serif;
$font-size: 1.15em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #246A7F; //$brand-color: #fff;
$background-color: #246A7F;
$border-color: rgba(255, 255, 255, 0.3); // rgba recommended if using feature images

// Typography colours
$text-color: #FEFFF8;
$link-color: #AAE1BF;
$selection-color: #D4D4D4; // visible when highlighting text

// Tags color
$tags-color: #AAE1BF;

//Search color
$search-color: #F2E2A9;

// Header colours
$header-link-color: #F2E2A9;

// Feature image for articles
$feature-image-text-color: #FEFFF8;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: darken($tags-color, 10);
$header-desc-text-color: #FEFFF8;
$header-desc-link-color: #02453D;